div.container{
    margin: 0;
}

.bg-dark {
    position: fixed;
    background-color: #923D41;
    padding: 1rem;
    flex-direction: column;
    display: flex;
    z-index: 1;
    width: 10%; 
    height: 100%
}

#space{
    position: absolute;
    right: 0;
    width: 90%;
}

p{
    margin: 0 !important;
}

header{
    position: fixed;
    width: inherit;
    background-color: #D9D9D9;
    height: 70px;
    padding: 10px 10px;
    text-align: center;
    z-index: 2;
}

#body{
    padding: 10px 40px;
}

.body h4{
    padding: 25px 50px;
}

.row{
    margin: 18px auto !important;
    text-align: center;
}

.title{
    color: #923D41;
    font-weight: bold;
}

.row hr{
    color: #923D41;
    height: 30%;
    width: 90%;
    opacity: 100%;
    margin-top: 30px !important;
}

.row p{
    padding: 50px;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #D9D9D9;
    padding: 10px 20px;
    width: inherit;
}

.text-white {
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}

a:hover{
    background-color: rgba(0,0,0, 0.5) !important;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.icon-center{
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 0px;
    color: #ffffff;
}

.nav li{
    padding: 5px 10px !important;
}

.nav li a{
    padding: 10px 15px !important;
}

hr{
    margin: 15px auto !important;
    width: 100%;
    opacity: 30%;
}

.current{
    border: 2px solid white;
}

#helpdesk{
    background-image: url('../images/2.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    height: 0%;
    color: #ffffff;
}

#helpdesk h4{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0;
}

h4#desc{
    padding: 50px 20% !important;
}

.only h4{
    padding: 10px 50px;
}

/* Search */
.help_form{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.help_form input{
    height: 50px !important;
    width:  40% !important;
    margin: 40px 0 40px 40px !important;
    border: 10px solid #923D41;
}

input:hover, input:focus{
    box-shadow: 0px 0px 10px #923D41 !important;
}

.help_form .btn{ 
    height: 50px;
    width: 50px;
}

.btn:hover{
    background-color: #923D41 !important;
}

#image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
/* board */
.board{
    height: 500px;
    overflow-y: scroll;
    margin: 5% 0;
    border: 1px solid black;
    box-shadow: -10px 10px 15px #888888;
    border-radius: 20px;
}

.board p{
    padding: 3%;
    text-align: left;
}

.board .row{
    background-color: #D9D9D9;
    border-radius: 5px;
    margin: 10px 3px !important;
}

.board .self{
    background-color: #4abe4f;
}

.motivation{
    border: 1px solid black;
    margin: 50px 30px !important;
}

.select{
    margin: 10% 5%;
    
}

.select .row{
    margin: 10px 3px;
    /* height: 60px; */
}

.select .col-md-3{
    margin-top: 8px;
    
}

.select .col-md-9{
    text-align: left;
    background-color: #923D41;
    box-shadow: 5px 5px 30px 6px #888888;
}

.select .col-md-9 a{
    color: white !important;
}

.second{
    color: #923D41;
    font-weight: bold;
}


/* Extra */
.form-inline{
    position: fixed;
    bottom: 20;
    text-align: center;
    background-color: white;
    padding: 10px 20px;
    width: inherit;
}

.form-inline input{
    height: 50px !important;
    width:  100% !important;
    margin: 10px 20px !important;
    border: 10px solid #923D41;
}

.form-inline #date{
    width:  90% !important;
}

.form-inline .btn{ 
    height: 50px;
    width: 80px;
}

input[type=checkbox]{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.profile{
    /* display: flex;
    align-items: center; */
    margin-left: 10%;
}

.form-check{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
  accent-color:#923d41;
}

/* in profile */
.box{
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    padding: 20px;
    box-shadow: -5px 5px 15px #888888;
}

.list-group {
    margin: 0;
    /* text-align: left; */
}

a.card-link{
    text-align: right;
}

.cont { 
    position: relative;
}

.cont .camera{
    position: absolute; 
    bottom:0%; 
    right:30%; 
    background-color: #e3e1e1;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}


.profile .fa-solid { 
    margin-top: 50%;
    color: black; 
    height: 20px;
    width: 40px; 
}

.profile .fa-solid:hover{
    color: #923D41;
    text-decoration: none;
}

.cont img{
    height: 230px;  
    width: 250px; 
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 0;
    box-shadow: 0px 0px 10px 2px #923D41;
}

.pen{
    position: relative;
}

.pen .last{
    position: absolute; 
    bottom:0%; 
    right:5%; 
    text-decoration: none;
}

.box .this{
    text-align: left;
}

.box h4{
    padding-top: 0px;
    padding-bottom: 5px;
}

.boxx hr{
    margin: 19px !important;
}


/* image page */
.upload{
    text-align: center;
}

.rule hr{
    height: 2px;
    width: 50%;
    background-color: black;
    margin: 30px auto !important;
}

.upload .cont{
    display: flex;
    justify-content: center;
}

.upload .cont img{
    height: 180px;
    width: 200px;
}

.desktop{
    border: 1px dashed #923D41;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 5px #888888;
    margin: auto 10%;
}

.desktop h4{
    margin: 20px auto;
}

.fa-cloud-arrow-up{
    color: #923D41;
}

.import{
    border: 2px solid #b9b9b9;
    border-radius: 10px;
    margin: auto 20%;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1281px) {
    .import {
        margin: auto 5%;
    }
  }s

.import .row{
    margin: 10px auto !important;
}

input[type='file']{
    border: 1px solid black;
}

.btn a{
    color: white;
}

.btn a:hover{
    color: white;
    text-decoration: none;
}

/* info */
input.form-control{
    height: 50px !important;
}

.py-5 label{
    text-align: left;
}